
// base.less
// for turmacidada.org
// by f03lipe

@import "macros.less";

@fontsRoot: '/static/fonts/';

.flexslider {
	list-style: none;

	.border-radius(0);
	border: none;
	.flex-control-nav.flex-control-paging {
		display: none;
	}
	margin-bottom: 0;
}

// COLUMNS SETUP
.columns {
	clear: both;
	width: 100%;
	
	.column-1 {
		width: 540px;
		float: left;
		height: 100%;
	}

	.column-2 {
		width: 410px;
		float: right;
	}

	.column-1, .column-2 {
		display: table;
	}
}


// NEWS BOX
.news {
	.box-title a {
		text-transform: lowercase;
		color: white;
	}

	li {
		list-style-type: none;
		border-bottom: 1px dotted #ccc;
		height: 50px;
		height: auto;
		display: table;
		
		.content {
			&:hover {
				opacity: 1;
				-webkit-transition: all 0.2s;
				-moz-transition: all 0.2s;
				-o-transition: all 0.2s;
				transition: all 0.2s;
			}
			margin: 10px 10px 0 10px; /* Leave bottom margin for child elements */
			font-size: 13px;
			opacity: .8;
			display: display;
			text-align: justify;
			cursor: pointer;
		}
		
		img.main-img { margin: 0 10px 10px 0; }
		.text { margin-bottom: 10px; }

		span.title {
			font-weight: bold;
			margin-right: 5px;
		}

		img {
			float: left;
			cursor: pointer;
		}
	}
}
