
// base.less
// for turmacidada.org
// by f03lipe

@import "macros.less";

@fontsRoot: '/static/fonts/';

.flexslider {
	list-style: none;

	.border-radius(0);
	border: none;
	.flex-control-nav.flex-control-paging {
		display: none;
	}
	margin-bottom: 0;
}


// NEWS BOX
.news {
	.box-title a {
		text-transform: lowercase;
		color: white;
	}

	li {
		list-style-type: none;
		height: 50px;
		height: auto;
		display: table;
		
		.content {
			& > * {
				display: inline-block;
				vertical-align: top;
			}

			margin: 15px 15px 0 15px; /* Leave bottom margin for child elements */
			font-size: 14px;
			
			// .left variables (here so that .text can see)
			@width: 170px;
			@height: @width; // assume square proportions
			@vheight: 120px; // visible height
			.left {
				margin-left: 29px;
				.block {
					position: absolute;
					left: 0; top: -((@height - @vheight)/2);
					width: @width;
					line-height: @height;
				}

				.blackout {
					.block();
					background: #888;
					height: @height;
					.transition(.2s);
				}

				img { opacity: .5; border-radius: 0; }

				&:hover {
					.blackout { background: #444; }
					border-radius: 0;
					img { border-radius: 0;  }
				}

				.date {
					.block();
					top: 0;
					line-height: @vheight;
					text-align: center;
					color: white;
					& > * {
						display: inline;
						font-size: 18px;
						text-shadow: 0 1px 5px rgba(0,0,0,.8);
					}
				}

				width: @width;
				height: @vheight;
				position: relative;
				border-radius: 0;
				overflow: hidden;
				cursor: pointer;

				box-shadow: 0 0 5px rgba(0,0,0,.6);
			}

			.text {
				width: 700px;
				margin-left: 0;
				padding-left: 10px;
				// color: white;
				background: rgba(255,255,255,1);
				min-height: @vheight;
				// text-shadow: 0 0 3px rgba(0,0,0,.3);
			}

		}
	}
}


// for facebook
.fb-like,
.fb-like span,
.fb-like span iframe[style] { width: 100% !important; }