.carousel-wrapper{width:960px;height:360px;overflow:hidden;position:relative;cursor:pointer;background:white;}.carousel-wrapper .carousel-inner{position:relative;}.carousel-wrapper .carousel-inner .item{height:360px;}
.carousel-wrapper .slider{position:absolute;border-radius:3px;bottom:10px;left:10px;}.carousel-wrapper .slider button{outline:none;position:relative;background:#444;box-shadow:none;padding:5px;border:none;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-o-transition:all 0.2s;transition:all 0.2s;}
.carousel-wrapper .slider button[data-slide=prev]:hover{right:3px;}
.carousel-wrapper .slider button[data-slide=next]:hover{left:3px;}
.carousel-wrapper .description{text-align:justify;position:absolute;padding:10px;right:0px;bottom:50px;width:300px;padding-right:15px;color:white;background:rgba(0, 0, 0, 0.5);opacity:.8;-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s;}.carousel-wrapper .description:hover{opacity:1;}
.carousel-wrapper .description a{color:#0BF;font-weight:bold;}
.carousel-wrapper .description .title{font-weight:bold;font-size:15px;}
.columns{clear:both;width:100%;}.columns .column-1{width:540px;float:left;height:100%;}
.columns .column-2{width:410px;float:right;}
.columns .column-1,.columns .column-2{display:table;}
.news .box-title a{text-transform:lowercase;color:white;}
.news li{list-style-type:none;border-bottom:1px dotted #ccc;height:50px;height:auto;display:table;}.news li .content{margin:10px 10px 0 10px;font-size:13px;opacity:.8;display:display;text-align:justify;cursor:pointer;}.news li .content:hover{opacity:1;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-o-transition:all 0.2s;transition:all 0.2s;}
.news li img.main-img{margin:0 10px 10px 0;}
.news li .text{margin-bottom:10px;}
.news li span.title{font-weight:bold;margin-right:5px;}
.news li img{float:left;cursor:pointer;}
