{% extends 'base.html' %}
{% load cms_tags sekizai_tags custom_template_tags %}

{% block content %}

	{% addtoblock "css" %}
	<style>
	.content .box#contact {
		padding: 40px;
	}

	.content .fleft {
		width: 400px;
		float: left;
		margin-right: 00px;
	}

	.content .fright {
		display: block;
		float: left;
		margin-top: 20px;
	}

	.content input,
	.content textarea {
		width: 300px;
	}

	.content label {
		font: 15px "Patua One";
		color: #444;
	}

	.content h1,
	.content h2,
	.content h3,
	.content h4,
	.content h5,
	.content h6 {
		margin: 10px 0;
	}

	.content .box#contact h1,
	.content .box#contact h2,
	.content .box#contact h3,
	.content .box#contact h4,
	.content .box#contact h5,
	.content .box#contact h6 {
		font-family: "Patua One";
		text-shadow: none;
		color: #444;
	}

	.content .box#contact textarea,
	.content .box#contact input {
		font-size: 14px;
	}
	.content .box#contact textarea:focus,
	.content .box#contact input:focus {
		border: 1px solid #08C !important;
		box-shadow: none;
	}

	.content .box#contact .btn {
		font-weight: bold;
		font: 15px "Patua One";
	}

	.content .box#contact input,
	.content .box#contact textarea {
		border-radius: 0;
	}

	</style>
	{% endaddtoblock %}

	<div class="container below-nav">
		<div class="box fullwidth">
			<div class="page-text text-plugin">
				{% placeholder "Texto" %}
			</div>
		</div>
		<div class="box fullwidth">
			<div class="page-text text-plugin" style="margin: 20px">
				{% placeholder "GoogleMaps" %}
			</div>
		</div>
		<div class="box fullwidth" id="contact">
			<div class="fleft">
				<h2>Fale conosco!</h2>
				<p>
					Etiam rhoncus et in porttitor rhoncus sit dictumst arcu nisi, lacus mid rhoncus tristique parturient, nec. Integer integer! Et pulvinar magna, cum auctor augue! Dis turpis pid turpis, adipiscing et! A. Porta facilisis et est amet, magna dis. Ridiculus, enim porttitor lorem. Adipiscing augue? Vel rhoncus magna, diam, tempor est sed augue, amet dictumst diam, pellentesque. Mus sit pulvinar, magna! Sed proin scelerisque odio, habitasse, in ac a facilisis enim aenean ac tincidunt nascetur porta vut. Massa dis eu sagittis pulvinar. Mauris enim ut, nascetur ac quis tristique sit pulvinar pid platea habitasse, habitasse elementum eros! Ultrices mattis? Urna cum rhoncus ultrices rhoncus egestas elementum, quis purus quis amet cum massa natoque elementum auctor. Hac odio, amet? In adipiscing, mauris.
				</p>
			</div>
			<div class="fright">
				<form class="form-horizontal">
					<formset>
					<div class="control-group">
						<label class="control-label" for="inputEmail">Nome</label>
						<div class="controls">
							<input type="text" id="inputName" placeholder="Quem é você?">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputEmail">Email</label>
						<div class="controls">
							<input type="text" id="inputEmail" placeholder="Não será divulgado, nós prometemos!">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputPassword">Mensagem</label>
						<div class="controls">
							<textarea rows='8' placeholder="Fale o que quiser..."></textarea>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn btn-success">Enviar</button>
						</div>
					</div>
					</formset>
				</form>
			</div>
		</div>
	</div>

{% endblock %}
