{% extends 'base.html' %}
{% load cms_tags sekizai_tags custom_template_tags %}

{% block content %}

	{% addtoblock "css" %}
	<style>

	.content h1,
	.content h2,
	.content h3,
	.content h4,
	.content h5,
	.content h6 {
		margin: 10px 0
;	}
	
	.content input,
	.content textarea,
	.content button {
		margin-top: 10px;
		font-family: "museo-sans", "Open Sans", sans-serif;
	}

	.content form button {
		position: relative;
		padding: 7px 13px;
		background: #009B95;
		border: 1px solid #444;
		box-shadow: 0 1px 4px rgba(0,0,0,.8);
		border-radius: 4px;
		color: white;
		font:  15px/150% museo, "Open Sans", sans-serif;
	}

	</style>
	{% endaddtoblock %}

	<div class="container below-nav">
		<div class="row-fluid fullwidth">
			<div class="page-text text-plugin">
			{% comment %}
				<h3>Turma Cidadã CEFET/RJ</h3>
				<h4>Endereço:</h4>
				<p>Rua Gal. Canabarro, 552, sala 3, Campus 3. Maracanã, Rio de Janeiro, Brasil</p>
				<h4>Telefone:</h4>
				<p>(021) 2566 3055</p>
				<h4>Email:</h4>
				<p><a href="mailto:turmacidadabrasil@gmail.com">turmacidadabrasil@gmail.com</a></p>
			{% endcomment %}
				{% placeholder "Texto" %}
			</div>
		</div>
		<div class="row-fluid fullwidth">
			<div class="page-text text-plugin" style="margin: 10px">
				{% placeholder "GoogleMaps" %}
			</div>
		</div>

		<div class="row-fluid" id="contact">
			<div class="span7">
				<h2>Fale conosco!</h2>
				<p>
					Nosso formulário está desabilitado no momento. :/<br>
					Envie-nos email para <a href="mailto:{{ email }}">{{email}}</a>.
				</p>
				<h5>Encontrou problemas com o site?</h5>
				<p>
					Se você tiver dúvidas ou sugestões sobre o funcionamento do site, notifique o nosso desenvolvedor:<strong><span style="display: none">Felipe Aragão Pires</span>pires.a.felipe AT gmail DOT com</strong>.
				</p>
			</div>
			<div class="span5">
				<form class="form-horizontal">
					<fieldset>
						<input type="text" disabled required placeholder="Your Name">
						<input type="email" disabled required placeholder="Your Email">		
						<textarea rows="5" disabled required style="width: 100%" placeholder="Your message goes here! :)"></textarea>
						<button type="submit" disabled onclick="return false;" class="btn btn-success" id="submit">
							<strong>Submit</strong>
						</button>
						<h6>Your email adress is safe with us!</h6>
					</fieldset>
				</form>
			</div>
		</div>
	</div>

{% endblock %}
