{% extends 'base.html' %}
{% load cms_tags sekizai_tags custom_template_tags %}

{% block content %}

	{% addtoblock "css" %}
	<style>

	.content h1,
	.content h2,
	.content h3,
	.content h4,
	.content h5,
	.content h6 {
		margin: 10px 0;
	}
	
	.content input,
	.content textarea,
	.content button {
		margin-top: 10px;
		font-family: "museo-sans";
	}

	.content form button {
		position: relative;
		padding: 7px 13px;
		background: #009B95;
		border: 1px solid #444;
		box-shadow: 0 1px 4px rgba(0,0,0,.8);
		border-radius: 4px;
		color: white;
		font:  15px/150% museo;
	}

	</style>
	{% endaddtoblock %}

	<div class="container below-nav">
		<div class="box fullwidth">
			<div class="page-text text-plugin">
				{% placeholder "Texto" %}
			</div>
		</div>
		<div class="box fullwidth">
			<div class="page-text text-plugin" style="margin: 20px">
				{% placeholder "GoogleMaps" %}
			</div>
		</div>
	</div>

	<div class="container" id="contact">
		<div class="row-fluid">
			<div class="span7">
				<h2>Fale conosco!</h2>
				<p>
					Etiam rhoncus et in porttitor rhoncus sit dictumst arcu nisi, lacus mid rhoncus tristique parturient, nec. Integer integer! Et pulvinar magna, cum auctor augue! Dis turpis pid turpis, adipiscing et! A. Porta facilisis et est amet, magna dis. Ridiculus, enim porttitor lorem. Adipiscing augue? Vel rhoncus magna, diam, tempor est sed augue, amet dictumst diam, pellentesque. Mus sit pulvinar, magna! Sed proin scelerisque odio, habitasse, in ac a facilisis enim aenean ac tincidunt nascetur porta vut. Massa dis eu sagittis pulvinar. Mauris enim ut, nascetur ac quis tristique sit pulvinar pid platea habitasse, habitasse elementum eros! Ultrices mattis? Urna cum rhoncus ultrices rhoncus egestas elementum, quis purus quis amet cum massa natoque elementum auctor. Hac odio, amet? In adipiscing, mauris.
				</p>
			</div>
			<div class="span5">
				<form class="form-horizontal">
					<fieldset>
						<input type="text" required placeholder="Your Name">
						<input type="email" required placeholder="Your Email">		
						<textarea rows="5" required style="width: 100%" placeholder="Your message goes here! :)"></textarea>
						<button type="submit" onclick="return false;" class="btn btn-success" id="submit">
							<strong>Submit</strong></button>
						<h6>Your email adress is safe with us!</h6>
					</fieldset>
				</form>
			</div>
			</div>
		</div>
	</div>

{% endblock %}
