{% extends 'base.html' %}
{% load cms_tags sekizai_tags custom_template_tags %}

{% block content %}
	<div id="fb-root"></div>
	<script>

		(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));
	</script>

	{% addtoblock "css" %}
		<link rel="stylesheet" href="{{ STATIC_URL }}home.css"></link>
	{% endaddtoblock %}
	{% addtoblock "js" %}
		<script type="text/javascript" src="{{ STATIC_URL }}jquery.flexslider-min.js"></script>
		<script>
			$(document).ready(function () {
				$('.flexslider').flexslider();
			});
		</script>
	{% endaddtoblock %}

	<!-- slider -->
	{% loadModelObjects "CarouselItem" as carousel_items %}
	{% if carousel_items|filter:'is_published=True'|length %}
	<div class="container below-nav flexslider">
			<ul class="slides">
				{% for citem in carousel_items|filter:'is_published=True'|order_by:'s' %}
				<li>
					{% if citem.description %}
						<p class="flex-caption">{{ citem.description }}</p>
					{% endif %}
					<a {{ citem.link|yesno:"href=," }}"{{ citem.link }}"><img src="{{ MEDIA_URL }}{{ citem.image }}"></a>
				</li>
				{% endfor %}
			</ul>
	{% endif %}
	</div>
	<!-- end slider -->

	<div class="banner" style="display: none">
		clique e saiba como ajudar!
	</div>

	<div class="container">
		<div class="columns">

			<div class="column-1">
				<!-- newsfeed -->
				<div class="box news">
					<div class="box-title">
						Últimas atualizações: <a href="#">(direto do nosso blog)</a>
					</div>

					{% loadModelObjects "NewsFeedItem" as newsfeed_items %}
					{% for nitem in newsfeed_items|order_by:'-date'|slice:':5' %}
					<li>
						<div class="content" onClick="window.location.href='{{nitem.link}}'">
							{% if nitem.thumbnail %}
								<img width="100" src="{{ MEDIA_URL }}{{ nitem.thumbnail }}" class="main-img">
							{% endif %}
							<div class="text">
								<span class="title">{{ nitem.date }}, {{ nitem.title }}<br></span>
								{{ nitem.description|safe }}
							</div>
						</div>
					</li>
					{% endfor %}
				</div>
				<!-- end newsfeed -->
			</div>
			<div class="column-2">
				<iframe style="margin-bottom: 10px"
					src="http://player.vimeo.com/video/25056574?portrait=0&amp;color=c8b3df"
					width="410" height="236" frameborder="0"
					webkitAllowFullScreen mozallowfullscreen allowFullScreen>
				</iframe>
				<div class="fb-like-box" data-href="http://www.facebook.com/pages/Programa-Turma-Cidadã/210131722332869" data-width="410"
					 data-height="350" data-show-faces="true" data-stream="false" data-header="false"
					 style="background-color: white">
				</div>
			</div>
		
		</div>
	</div>

	<h6 style="display: none">
		Desenvolvido por Felipe Aragão Pires, <a href="http://twitter.com/f03lipe">@f03lipe</a>
	</h6>

{% endblock %}