{% extends 'base.html' %}
{% load cms_tags sekizai_tags custom_template_tags %}

{% block content %}

	{% addtoblock "css" %}
	<style>
		.team-member {
			list-style: none;
			float: left;
			margin-bottom: 20px;
			width: 450px;
			min-height: 190px;
			padding: 10px;
			background: white;
			box-shadow: 0 0 5px rgba(0, 0, 0, .3);
		}
		.team-member:nth-child(odd) { float: right; }

		.team-member .member-info {
			display: inline-block;
			vertical-align: top;
			padding: 5px 10px 0;
			width: 290px;
			cursor: default;
		}

		.team-member .member-info h3,
		.team-member .member-info h4,
		.team-member .member-info h5 {
			font-family: museo-sans;
			margin: 4px 0;
		}

		.team-member img {
			margin-top: 2px;
			box-shadow: 0 0 5px rgba(0, 0, 0, .5);
		}

		.team-member p {
			margin-bottom: 0;
		}

	</style>
	{% endaddtoblock %}

	<div class="container below-nav">
		<div class="row-fluid">
			<div class="page-text text-plugin">
				{% placeholder "TextoIntrodutorio" %}
			</div>
		</div>

		{% loadModelObjects "TeamMember" as teammember %}
		{% for person in teammember|order_by:'member_since' %}
		
		<li class="team-member">
			<img width=140 height=185 src="{{ MEDIA_URL }}{{ person.avatar }}" "http://placehold.it/140x185.png" />
			<div class="member-info">
				<h4 class="inline-block">{{ person.name }}</h4><h5 class="inline-block">, {% if person.age < 200 %}{{ person.age }} anos {% else %}idade desconhecida{% endif %} </h5>
				<h5>{{ person.job }}</h5>
				<h5>desde {{ person.member_since.month|trans_month|lower }} de {{ person.member_since.year }}</h5>
				<p>{{ person.bio }}</p>
			</div>
		</li>
		{% endfor %}
	</div>

{% endblock %}
