{% load cms_tags menu_tags sekizai_tags custom_template_tags thumbnail i18n %}

<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'> 
	<title>Turma Cidadã</title>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css"></link>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}base.css"></link>
	<link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico"></link>
	
	{% render_block "css" %}

	<script type="text/javascript" src="{{ STATIC_URL }}jquery.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}base.js"></script>
	<script type="text/javascript" type="image/png" src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
	<style>
		.wrapper {
			position: relative;
			width: 800px;
			margin: 0 auto;
			top: 150px;
			height: 500px;
			sborder: 1px solid red;
		}

		.pull-left, .pull-right {
			color: white;
			height: 250px;
			letter-spacing: -5px;
			cursor: default;
			text-shadow: 0 0 10px rgba(0, 0, 0, .6);
		}

		.text {
			font: bold 100px/70px "PatuaOne";
			margin-top: 55px;
		}

		.description {
			text-shadow: 0 0 5px rgba(0, 0, 0, .4);
			color: white;
			font: bold 26px "PatuaOne";
		}
	</style>
</head>
<body>
	{% getBackgroundImage as bg %}
	<img src="{{ MEDIA_URL }}{{ bg.file }}" class="page-bg" />	
	
	<div class="container">
	</div>

	<div class="wrapper">
		<div class="pull-left">
			<div style="font: 200px 'PatuaOne'">404</div>
		</div>
		<div class="pull-right">
			<div class="text">Página Não <br>Encontrada</div>
		</div>
		<div class="description">
			Não conseguimos encontrar a página que você estava procurando. =/
			<br>Você pode ficar aqui brincando de dissolver nuvens...
			<h3><a style="color: white" href="/">ou clicar aqui para voltar</a></h3>
		</div>
	</div>
	
	<div id='troposphere'></div>

</body>
</html>