{% load cms_tags menu_tags sekizai_tags custom_template_tags thumbnail %}

<!DOCTYPE html lang="pt">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Turma Cidadã</title>
		<meta name="description" content="A TurmaCidadã desenvolve e apoia projetos sustentáveis voltados para a comunidada, promovendo o desenvolvimento 'socio-pessoa-ambiental'.">
		<meta name="keywords" content="Turma Cidadã, Turmacidada, ONG, CEFET, cidadania, sustenstabilidade, maracanã, rio de janeiro. Brasil, Silvino Netto, Felipe Aragão Pires, socio-pessoa-ambiental,desenvolvimento,Centro Federal de Educação Tecnológica Celso Suckow da Fonseca, palestra, video, região serrana, mutirão solidário">
		<meta name="viewport" content="width=device-width">
		<meta name="author" content="Felipe Aragão Pires">

		<meta property="og:url" content="http://turmacidada.org/" />
		<meta property="og:site_name" content="Turma Cidadã" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="TurmaCidadã" />
		<meta property="og:image" content="http://turmacidada.herokuapp.com/static/images/logo.png" />
		<meta property="og:description" content="A TurmaCidadã desenvolve e apoia projetos sustentáveis voltados para a comunidada, promovendo o desenvolvimento 'socio-pessoa-ambiental'" />
		<meta property="fb:app_id" content="7363627862327638" />
		<link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico"></link>

		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css"></link>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fonts.css"></link>
		{% render_block "cssbefore" %}
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}base.css"></link>
		{% render_block "css" %}

</head>

{% getBackgroundImage as bg %}
<body class="{{ bg.header_color }}">
	<img onerror='this.style.display = "none"' src="{{ MEDIA_URL }}{{ bg.file }}" class="page-bg"></img>

	<header>
		<div class="logo" onClick="location.href='/'">
			<img src="{{ STATIC_URL }}images/logo.png" width=150 height=150/>
			<div class="name">Turma<br>Cidadã<span>Brasil</span></div>
		</div>

		<div class="slogan">
			Pensar globalmente,<br> agir localmente e conviver<br> transculturalmente <!-- Empowering the Comunity -->
		</div>

		<div class="social-btns">
			<a class="" href="{{ sn.facebook }}"><i class="icon-facebook"></i></a>
			<a class="" href="{{ sn.twitter }}"><i class="icon-twitter"></i></a>
			<a class="" href="{{ sn.gplus }}"><i class="icon-google-plus"></i></a>

		</div>

<!-- 		<div class="social-btns">
			<a href="{{ sn.facebook }}" class="spriteD-Facebook"></a>
			<a href="{{ sn.vimeo }}" class="spriteD-Vimeo"></a>
			<a href="{{ sn.twitter }}" class="spriteD-Twitter"></a>
			<a href="{{ sn.flickr }}" class="spriteD-Flickr"></a>
			<a href="{{ sn.rss }}" class="spriteD-Rss"></a>
		</div> -->

		<div class="upper-line">
			{% language_chooser "language_chooser.html" %}
			<form class="search" method="get" action="/search">
				<input class="form-search" name="q" type="text" />
				<i class="icon-search" onClick="$('form.search').submit()"></i>
			</form>
		</div>

		<nav>
			{% show_menu 1 %}
		</nav>
	</header>
	
	<div class="content">
		{% block content %}{% endblock %}
	</div>

	{% include "projectslist.html" %}
	{% include "footer.html" %}

	<script type="text/javascript" src="{{ STATIC_URL }}jquery.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}base.js"></script>
	<script type="text/javascript" type="image/png" src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
</body>
</html>
	{% render_block "js" %}