{% load cms_tags %}
<footer>
	<div class="container">
		<div class="links">
			<a href="/sobre">Sobre nós</a>
			<a href="#">Imprensa</a>
			<a href="/offices">Núcleos</a>
			<a href="/blog">Blog</a>
		</div>
		<div class="info">
			<div style="float: left; margin-top: 1px">
				Turma Cidadã © 2010-2012
				<br>Rua General Canabarro, 522, Tijuca, Rio de Janeiro.
				<br>tel. (021) 2566 3055, <a href="mailto:contato@turmacidada.org">
											contato@turmacidada.org</a>
			</div>
			<img style="float: left; margin-left: 5px"
				src="{{ STATIC_URL }}images/logo.png" width=45 height=45/>
		</div>
	</div>
</footer>