{% load cms_tags %}
<footer>
	<div class="container">
		<div class="links">
			{% for label, link in FOOTER_LINKS.iteritems %}
				<a href="{{link}}">{{label}}</a>
			{% endfor %}
		</div>
		<div class="info">
			<div style="float: left; margin-top: 1px">
				Turma Cidadã © 2007-2013
				<br>{{ address }}
				<br>tel. {{ tel }}, <a href="mailto:contato@turmacidada.org">{{ email }}</a>
			</div>
			<img style="float: left; margin-left: 5px"
				src="{{ STATIC_URL }}images/logo.png" width=45 height=45/>
		</div>
	</div>
</footer>